<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.besideu.source"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.besideu.source.CrashApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6ea45d65ccfe6e533ae66a93424988b3" />

        <activity
            android:name="com.besideu.source.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.besideu.source.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.besideu.source.chat.PicPreviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.besideu.source.setting.SettingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.besideu.source.setting.SetiingMynameActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.besideu.source.setting.CropImageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.besideu.source.chat.RecordActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.besideu.source.map.NearbyGroupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.besideu.source.map.MapViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.besideu.source.share.ShareActivity"
            android:label="@string/antion_share" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>